@tailwind base;
@tailwind components;
@tailwind utilities;

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 11;
  -webkit-transform: translate(-60%, -50%);
  -moz-transform: translate(-60%, -50%);
  -ms-transform: translate(-60%, -50%);
  -o-transform: translate(-60%, -50%);
  transform: translate(-60%, -50%);
}